<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<% if Rails.application.config.new_users_accepted %>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for(@user) do |f| %>
				<%= f.label :nickname %>
				<%= f.text_field :nickname%>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.submit "Add My Account", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
<% else %>
	<p>We are not currently accepting sign ups.  This is a pre-alpha release and not ready to handle the massive amount of noobs who will no-doubt find this service useful.
	Feel free to peruse the profiles of whatever noobs are in the database.  That should be interesting.</p>
<% end %>