<% provide(:title, @user.nickname) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <!--Profile_pic goes here-->
        <%= @user.nickname.upcase %>
      </h1>
      <!--Railsify this, ie put it in a separate view or erb file-->
      <%= render 'users/user_stats' %>
      <%= button_to("Refresh", @user, method: :put, class: "btn btn-inverse btn-small") if @refresh %>

    </section>
    <section>
      <div id="user_chart_gold" style:" width=100% "></div>
    </section>
  </aside>  

  <div class="span9">
      <!--<div id="progression" class="span9"></div>-->
      <ul class="nav nav-tabs graphing" id="user_charts">
        <li class="active"><a href="#progression-tab" data-toggle="tab">Progression</a></li>
        <li><a href="#mmr-tab" data-toggle="tab">MMR</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="progression-tab"><div id="user-progression" style:"width=100%"></div></div>
        <div class="tab-pane" id="mmr-tab"> <p>MMR graph goes here</p> </div>
      </div>
    <h4>Recent Match Stats</h4>
      <% if @user.match_stats.any? %>
        <table class="table table-condensed match_stats">
          <thead class="table-head">
            <tr>
              <th></th>
              <th></th>
              <th>k/d/a</th>
              <th>ck/cd</th>
              <th>gpm</th>
              <th>apm</th>
              <th>items</th>
              <th></th>
            </tr>
          </thead>
          <%= render @match_stats, :player => true%>
        </table>
        <%= will_paginate @match_stats %>
      <% end %>
  </div>
</div>