<% provide(:title, "Match " + @match.match_number.to_s) %>
<%=javascript_include_tag "matches", "match_stats" %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <!--Profile_pic goes here-->
        <%= @match.match_number %>
        <span class="date"><%= @match.date_played%></span>
      </h1>
      <%= render 'matches/match_info' %>
      <!--Railsify this, ie put it in a separate view or erb file-->
      <div id="exp-denied-chart" style:"width=100%"></div>
    </section>
  </aside>

  <div class="span9">
    <ul class="nav nav-tabs graphing" id="user_charts">
        <li><a href="#damage-tab" data-toggle="tab">Damage</a></li>
        <li class="active"><a href="#gpm-tab" data-toggle="tab">GPM</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="damage-tab"><div id="damage-chart" style:"width=100%"></div></div>
        <div class="tab-pane active" id="gpm-tab"> <div id="gpm-chart" style:"width=100%"></div></div>
    </div>

    <h4>Players</h4>
      <% if @match.match_stats.any? %>
        <table class="table table-condensed table-hover match-stats">
          <thead class="table-head">
            <tr>
              <th></th>
              <th>nickname</th>
              <th>k/d/a</th>
              <th>ck/cd</th>
              <th>gpm</th>
              <th>apm</th>
              <th>items</th>
            </tr>
          </thead>
          <%= render @match_stats, :player => false %>
        </table>
      <% end %>
  </div>
</div>