<% if player and (match_stat.win == 1) %>
	<% color="success" %>
<% elsif player %>
	<% color="error" %>
<% else color="position-#{match_stat.position}" %>
<% end %>
<!--<tr class=<%=color%>>-->
<!--need to make this tr tag a bit more railsy -->
<tr class="match-stat-row <%= color if color%>" href=<%= if player then "/matches/#{match_stat.match_id}" else "/users/#{match_stat.nickname.downcase}" end%>>
  <% if player %>
    <td class="date"><%= match_stat.date_played.strftime("%m/%d/%y") if match_stat.date_played %></td>
  <% end %>
  <td class="heroid <%=color if color%>"><%= image_tag("http://www.heroesofnewerth.com/images/heroes/#{match_stat.hero_id}/icon_128.jpg", alt: "hero icon", size:"30x30") %></td>
  <%if !player %>
    <td class="nickname"> <%= link_to match_stat.nickname, "/users/#{match_stat.nickname.downcase}"%> </td>
  <% end%>
  <td class="kda"><%= match_stat.hero_kills %>/<%= match_stat.deaths %>/<%= match_stat.hero_assists %></td>
  <td class="creepstats"><%= match_stat.creep_kills + match_stat.neutral_kills%>/<%=match_stat.denies%></td>
  <td class="gpm"><%= match_stat.gpm %></td>
  <td class="apm"><%= match_stat.apm %></td>
  <td class="inventory"><%= (1..6).reduce(" ") {|str, slot| str << match_stat.send("item_#{slot}").to_s << "|"} %></td>
</tr>

